body {
  font-family: "Press Start 2P", cursive;
}

.pageTitle {
  text-align: center;
  color: #c63fca;
  grid-column: 1 / 4;
  grid-row: 1;
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  grid-template-rows: repeat(2, 1fr);
}

.rule + .rule {
  margin-top: 10px;
}

.rule-type {
  opacity: 0.5;
}

.challengeTitle {
  text-align: center;
  font-size: 2rem;
  grid-column: 1 / 4;
  grid-row: 2;
}

.container {
  grid-column: 2;
  grid-row: 3;
}

.valueContainer {
  display: block;
}
