body {
  font-family: 'Press Start 2P', monospace;
  color: aliceblue;
  background-image: url(../assets/background1.png);
  background-size: 100%;
  margin-right: 10%;
  margin-left: 10%;
}

.page-title {
  text-align: center;
  color: #c63fca;
  grid-column: 2;
  grid-row: 1;
}

#wrapper {
  display: grid;
  grid-template-columns: repeat(3, 0.5fr);
  grid-gap: 10px;
  grid-template-rows: repeat(2, 1fr);
}

.rule + .rule {
  margin-top: 10px;
}

.rule-type {
  opacity: 0.5;
}

.challenge-title {
  text-align: center;
  font-size: 1.8rem;
  grid-column: 1 / 4;
  grid-row: 2;
}

.container {
  grid-column: 2;
  grid-row: 3;
}

.value-container {
  display: block;
}

.buttons {
  grid-column: 2;
  grid-row: 4;
  display: block;
}

.btn {
  font-family: 'Press Start 2P';
  box-shadow: 2px 1px;
  border-style: inset;
  border-color: black;
}

.daily {
  display: none;
}

.share {
  cursor: copy;
}

.help {
  cursor: help;
}

.alert-box {
  text-align: center;
  padding: 20px;
  grid-column: 1 / 4;
}
